{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2 class="mb-4">
            Thêm mật khẩu
        </h2>
        
        {% if strength %}
            <div class="alert alert-info">
                Độ mạnh mật khẩu:
                <strong>{{ strength }}</strong>
            </div>
        {% endif %}

        <form method="POST">

            <input
                type="text"
                name="website"
                class="form-control mb-3"
                placeholder="Website"
                required>

            <input
                type="text"
                name="account_username"
                class="form-control mb-3"
                placeholder="Username"
                required>

            <input
                type="password"
                name="password"
                class="form-control mb-3"
                placeholder="Password"
                required>

            <button
                class="btn btn-primary">
                Lưu
            </button>

        </form>

    </div>

</div>

{% endblock %}