{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-warning">

        <h3>
            Đổi mật khẩu tài khoản
        </h3>

    </div>

    <div class="card-body">

        <form method="POST">

            <input
                type="password"
                name="old_password"
                class="form-control mb-3"
                placeholder="Mật khẩu hiện tại"
                required>

            <input
                type="password"
                name="new_password"
                class="form-control mb-3"
                placeholder="Mật khẩu mới"
                required>

            <button
                class="btn btn-warning">

                Cập nhật

            </button>

        </form>

    </div>

</div>

{% endblock %}