{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>Sửa mật khẩu</h2>

        <form method="POST">

            <input
                type="text"
                name="website"
                class="form-control mb-3"
                value="{{ entry.website }}"
                required>

            <input
                type="text"
                name="account_username"
                class="form-control mb-3"
                value="{{ entry.account_username }}"
                required>

            <input
                type="password"
                name="password"
                class="form-control mb-3"
                placeholder="Nhập mật khẩu mới"
                required>

            <button
                class="btn btn-warning">
                Cập nhật
            </button>

        </form>

    </div>

</div>

{% endblock %}